<h1>New Student</h1>

<%= form_with scope: :student, local: true do |form| %>
	<p>
		<%= form.label :first_name %><br>
		<%= form.text_field :first_name %>
	</p>
	
	<p>
		<%= form.label :last_name %><br>
		<%= form.text_field :last_name %>
	</p>
	
	<p>
		<%= form.label :username %><br>
		<%= form.text_field :username %>
	</p>
	
	<p>
		<%= form.label :dot_number %><br>
		<%= form.text_field :dot_number %>
	</p>
	
	<p>
		<%= form.label :alt_email %><br>
		<%= form.text_field :alt_email %>
	</p>
	
	<p>
		<%= form.label :buckid %><br>
		<%= form.text_field :buckid %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>
