<%#created and implemented by Josh Wright 7/20/18%>
<%#checks to make sure a professor isn't logged in while also trying to login as a student%>
<%if current_professor %>
  <div class="container py-2">
    <div class="row my-5">
      <div class="col">

      </div>
      <div class="col-6 bg-light rounded py-5 px-4">
        <h1 class="my-5"> Professor Currently Logged In</h1>
        <p>Sign out to proceed as a student</p>
        <br/>
        <%= button_to "Sign Out", destroy_student_session_path, :method => :delete %>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
<%#else if a professor isn't logged in, display the student login %>
<%else%>
    <div class="container py-2">
      <div class="row my-5">
        <div class="col">

        </div>
        <div class="col bg-light rounded py-3 px-4 justify-content-center">
          <h1 class="my-5"> Student Login</h1>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>
          <br/>
          <%= render "professors/shared/links" %>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
<% end %>