<!-- Created by Houyi Fan 7/22/2018 -->
<!-- Modified by Jeb Alawi 7/26/18 - styling -->
<%= form_with model: @student, local: true do |form| %>
 
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container ml-1" style="width: 30ex">
   <h1>Edit Profile</h1>
   <div class="form-group">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :dot_number %>
      <%= form.text_field :dot_number, :class => "form-control" %>
    </div>

    <div class="my-1">
      <%= form.submit 'Update Student', :class => "btn btn-success" %>
    </div>

  <% end %>
</div>