<div ng-app="evaluationApp" ng-controller="studentEvaluationCon" ng-init="init(<%= current_student.id %>)">
  <%if current_student != nil and current_student.id.to_s == params[:id].to_s%>

    <div class="container bg-light py-5 px-5">

      <div ng-hide="evaluationCompleteForm">
        <h3> Title: {{evaluation.title}}</h3>
      </div>

      <h1>Evaluations</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Evaluation Name</th>
          <th scope="col">Due Date</th>
          <th scope="col">Posted Date</th>
          <th scope="col">Completion Status</th>
          <th scope="col">Complete Form</th>
        </tr>
        </thead>
        <tbody>

        <!-- list student evaluations -->
        <h3>Incomplete Evaluations</h3>
        <% @evaluations.each do |evaluation| %>
          <% if !evaluation.isCompleted%>
            <tr>
              <td><%= evaluation.title %></td>
              <td><%= evaluation.due_date %></td>
              <td><%= evaluation.posted_date %></td>
              <td><%= evaluation.isCompleted %></td>
              <td><button id="complete_evaluation" class="btn btn-secondary" ng-click="completeEvaluation(<%=evaluation.id%>)">
                Complete Evaluation
              </button></td>
            </tr>
          <%end%>
        <% end %>
        </tbody>
      </table>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Evaluation Name</th>
          <th scope="col">Due Date</th>
          <th scope="col">Posted Date</th>
          <th scope="col">Completion Status</th>
        </tr>
        </thead>
        <tbody>

        <!-- list student evaluations -->
        <h3>Completed Evaluations</h3>
        <% @evaluations.each do |evaluation| %>
          <% if evaluation.isCompleted%>
            <tr>
              <td><%= evaluation.title %></td>
              <td><%= evaluation.due_date %></td>
              <td><%= evaluation.posted_date %></td>
              <td><%= evaluation.isCompleted %></td>
            </tr>
          <%end%>
        <% end %>
        </tbody>
      </table>
    </div>
  <%else%>
    <div class="container">
      <div class="jumbotron vertical-center my-5 py-5">
        <div class="container text-center">
          <h1 class="display-4">Whoops!</h1>
          <p class="lead">You don't belong here!</p>
          page id = <%= params[:id]%>
          student id = <%#= current_student.id %>
          *these are for testing purposes*
        </div>
      </div>

    </div>
  <%end%>

</div>

<%= javascript_include_tag 'studentEvaluationsContent' %>