<!-- navbar to traverse the site -->
<nav id="myNav" class="navbar navbar-expand-sm navbar-light bg-primary" >
  <a class="navbar-brand" href="#">Profile</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Courses', student_courses_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Groups', groups_students_path, :class => "nav-link" %>
    </li>
    <li class="nav-item dropdown">
      <%= link_to 'Evaluations', evaluations_path, :class => "nav-link dropdown-toggle" %>
      <div class="dropdown-menu mt-0">
        <%= link_to 'Need Completed', new_evaluation_path, :class => "dropdown-item" %>
        <%= link_to 'Completed', evaluations_path, :class => "dropdown-item" %>
      </div>
    </li>
  </ul>
  </div>
</nav>