<% if current_professor %>
  <!-- navbar to traverse the site -->
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-primary" >
    <%= link_to 'Professor Profile', '/professors/'+current_professor.id.to_s, :class => "navbar-brand" %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Courses', professor_courses_path(current_professor.id), :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Evaluations', professor_professor_forms_path(current_professor.id), :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Groups', '/professors/'+current_professor.id.to_s+'/groups', :class => "nav-link" %>
      </li>

    </ul>
    <%= link_to "Sign Out",  destroy_professor_session_path, {:method => :delete, class: 'text-dark nav-link'} %>
  </nav>

<% elsif current_student%>
  <!-- navbar to traverse the site -->
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-primary" >
    <%= link_to 'Student Profile', '/students/'+current_student.id.to_s, :class => "navbar-brand" %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= link_to 'Courses', student_courses_path(current_student.id), :class => "nav-link" %>
        <div class="dropdown-menu  mt-0">
          <%= link_to 'Join Course', '/students/'+current_student.id.to_s+'/courses_student/new', :class => "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item">
        <%= link_to 'Groups', '/professors/'+current_student.id.to_s+'/groups', :class => "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to 'Evaluations', evaluations_path, :class => "nav-link dropdown-toggle" %>
        <div class="dropdown-menu mt-0">
          <%= link_to 'Need Completed', new_evaluation_path, :class => "dropdown-item" %>
          <%= link_to 'Completed', evaluations_path, :class => "dropdown-item" %>
        </div>
      </li>
    </ul>
    <%= link_to "Sign Out", destroy_student_session_path, {:method => :delete, class: 'text-dark nav-link'} %>
  </nav>
<% else %>
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-primary">
  </nav>
<% end %>



