<!-- navbar to traverse the site -->
<nav id="myNav" class="navbar navbar-expand-sm navbar-light bg-primary" >
  <a class="navbar-brand" href="#">Dev Navbar</a>
  <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
      <%= link_to 'Students', students_path, :class => "nav-link dropdown-toggle" %>
      <div class="dropdown-menu  mt-0">
        <%= link_to 'New', new_student_path, :class => "dropdown-item" %>
        <% if current_student != nil %>
          <%= link_to 'Join Course', '/students/'+current_student.id.to_s+'/courses_student/new', :class => "dropdown-item" %>
        <% end %>
      </div>
    </li>

    <li class="nav-item dropdown">
      <%= link_to 'Professors', professors_path, :class => "nav-link dropdown-toggle" %>
      <div class="dropdown-menu mt-0">
        <%= link_to 'New', new_professor_path, :class => "dropdown-item" %>
      </div>
    </li>
    <% if current_professor %>
    <li class="nav-item dropdown">
      <%= link_to 'Courses', professor_courses_path(current_professor.id), :class => "nav-link dropdown-toggle" %>
      <div class="dropdown-menu mt-0">
        <%= link_to 'New', new_professor_course_path(current_professor.id), :class => "dropdown-item" %>
      </div>
    </li>
    <% end %>
    <li class="nav-item dropdown">
      <%= link_to 'Evaluations', professor_forms_path(current_professor.id), :class => "nav-link dropdown-toggle" %>
      <div class="dropdown-menu mt-0">
        <%= link_to 'New', new_professor_form_path(current_professor.id), :class => "dropdown-item" %>
      </div>
    </li>
    <li class="nav-item dropdown">
      <%= link_to 'Groups', groups_path, :class => "nav-link dropdown-toggle" %>
      <div class="dropdown-menu mt-0">
        <%= link_to 'New', new_group_path, :class => "dropdown-item" %>
      </div>
    </li>
    <li class="nav-item">
      <%= link_to 'CoursesStudent', courses_student_index_path, :class => "nav-link" %>
    </li>
  </ul>
  <% if professor_signed_in? %>
      <%= button_to "Sign Out",  destroy_professor_session_path, {:method => :delete, class: 'btn'} %>
    <% elsif student_signed_in?%>
      <%= button_to "Sign Out", destroy_student_session_path, {:method => :delete, class: 'btn'} %>
    <% end %>
  </div>
</nav>