
  <div class="courses_content">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Dept</th>
        <th>Course Number</th>
        <th>Section</th>
        <th>ID</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @course.name %></td>
        <td><%= @course.dept %></td>
        <td><%= @course.number %></td>
        <td><%= @course.section %></td>
        <td><%= @course.id %></td>
      </tr>
      </tbody>
    </table>
    <hr/>
  </div>

