
<%= javascript_include_tag 'content' %>

<div class="container-fluid" ng-app="myApp" ng-controller="myCon" ng-init="isGroup=false">

  <div class = "row">
    <h1 class="mr-auto"><%= title %></h1>
    <span>
      <button ng-click="switchState()" ng-disabled="!isGroup">Students</button>
      <button ng-click="switchState()" ng-disabled="isGroup">Groups</button>
    </span>
  </div>
  <div class="row">

    <!-- List of Courses On The left -->
    <div class="col-2 px-0 mx-0">
      <div class="list-group list-group-flush" id="list-tab" role="tablist">
        <% professor.courses.each_with_index do |course| %>
          <a class="list-group-item list-group-item-action" name="course" ng-click="showDetail(<%=professor.id%>, <%=course.id%>)"
             data-toggle="list" href="#list-home" role="tab" aria-controls="home"> <%= course.name %> </a>
        <%end%>
        <%= link_to 'Add Course', new_professor_course_path(professor), :class => 'btn'%>
      </div>

    </div>
    <div id ="pageContent" class="col bg-light">
      <div class="row py-3 px-3">
        <h1>
          {{course_name}}
          <br>
          {{isGroup? "Group" : "Student"}}
        </h1>
        <%#= render partial: "professors/partials/course_list", locals: {courses: @courses}%>
        <%#= render partial: "professors/partials/groups_list", locals: {groups: professor.courses}%>
      </div>
    </div>
  </div>
</div>

