<!-- Created by Jeb Alawi 7/19/18 -->
<!-- Modified by Houyi Fan 7/22/18 -->
<div class="container-fluid">
  <div class="col">
    <p id="notice">
      <%= notice %></p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>Professor</h1>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Dot Number</th>
          <th>Email</th>
          <th colspan="1"></th>
        </tr>
        </thead>
        <tbody>
        <!-- list professor attributes -->
        <% @professors.each do |professor| %>
          <tr>
            <td><%= professor.id %></td>
            <td><%= professor.first_name %></td>
						<td><%= professor.last_name %></td>
						<td><%= professor.dot_number %></td>
						<td><%= professor.email %></td>
            <td><%= link_to 'Show', professor %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
