<!DOCTYPE html>
<html>
  <head>
    <title>RubyRubyRuProject6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
  <%= link_to 'Students', students_path %>
  <%= link_to 'New Student', new_student_path %>
  <span> | </span>
  <%= link_to 'Professors', professors_path %>
  <%= link_to 'New Professor', new_professor_path %>
  <span> | </span>
  <%= link_to 'Courses', courses_path %>
  <%= link_to 'New Course', new_course_path %>
  <span> | </span>
  <%= link_to 'Evaluations', evaluations_path %>
  <%= link_to 'New Evaluation', new_evaluation_path %>
  <span> | </span>
  <%= link_to 'Groups', groups_path %>
  <%= link_to 'New Group', new_group_path %>
  </body>
</html>
